<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
    <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">我的記帳簿</a>
      <div >
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="" class="nav-link">登入</a>
              </li>
              <li class="nav-item">
                  <a href="" class="nav-link">設定</a>
              </li>
          </ul>
      </div>

    </div>
  </nav>


    {{{body}}}

 </div>   
</body>

<script src="/javascripts/popper.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>