<section class="mt-5">
    <a class="btn btn-info">建立新的一筆</a>
    <ul>
        {{#each item}}
        <li>
            test
            <a href="">檢視</a>
            <a href="">修改</a>
            <a href="">刪除</a>
        </li>
        {{/each}}
    </ul>
</section>