<form action="/new" method="POST" class="mt-5">
  <div class="mb-3">
    <label for="name" class="form-label">項目名稱：</label>
    <input type="text" class="form-control" id="name" name="name" >
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">日期：</label>
    <input type="date" class="form-control" id="date" name="date">
  </div>
  <div class="mb-3">
    <label for="number" class="form-label">花費：</label>
    <input type="number" class="form-control" id="number" name="number">
  </div>

  <button type="submit" class="btn btn-primary">送出</button>
</form>