.left-content{
    width:100%;
    padding:0.5rem;
}
.dropdown-toggle{
    width:100%;
}

.chart-screen{
    display:none;
}
.list-item{
    width:100%;
}
.list-item-info{
    width:100%;
}
.button-add-new{
    width:100%;
}

.chart-phone{
    width:90%;
    margin-top:2rem;
}
/*form page*/
.form{
    width:100%;
}

#name{
    width:50%;
}
#category{
    width:50%;
}
#date{
    width:50%;
}
#number{
    width:50%;
}
.title-section{
    width:100%;
}



@media (min-width:768px) {
.left-content{
    width:50%;
}
.list-item{
    display: flex;
    
}

.list-item-info{
    width:60%;
}

.dropdown-toggle{
    width:35%;
}

.button-add-new{
    width:30%;
}

.chart-phone{
    display:none;
}
.chart-screen{
    display:block;
}

/*form page*/
.title-section{
    width:60%;
}
.form{
    width:50%
}
#name{
    width:50%;
}
#category{
    width:50%;
}

#date{
    width:50%;
}
#number{
    width:50%;
}
}